Aitipachong.CarRentalService.ConsoleClient/Service References/CarRentalServiceProxy/metadata1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CalulatePrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pickupDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="returnDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pickupLocation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehiclePreference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalulatePriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalulatePriceResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>